@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.merriweather {
    font-family: 'Merriweather', serif;
}

.libre {
    font-family: 'Libre Franklin', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}